<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Master Suit">
    <parameter name="email" value="koeluser06@testpro.io"/>
    <parameter name="password" value="te$t$tudent"/>
    <test name="All Tests">
        <classes>
            <class name="pageObjectTests.LoginTests">
                <methods>
                    <include name="loginTest_CorrectCredentials_LoggedIn"/>
                    <include name="loginTest_WrongCredentials_ErrorFrameDisplayed"/>
                    <include name="loginTest_CorrectCredentials_LoggedIn1"/>
                    <include name="loginTest_WrongCredentials_ErrorFrameDisplayed1"/>
                    <include name="loginTest_CorrectCredentials_LoggedIn2"/>
                    <include name="loginTest_WrongCredentials_ErrorFrameDisplayed2"/>
                </methods>
            </class>
            <class name="pageObjectTests.LoginTestsA">
                <methods>
                    <include name="loginTestA_CorrectCredentials_LoggedIn"/>
                    <include name="loginTestA_WrongCredentials_ErrorFrameDisplayed"/>
                    <include name="loginTestA_CorrectCredentials_LoggedIn1"/>
                    <include name="loginTestA_WrongCredentials_ErrorFrameDisplayed1"/>
                    <include name="loginTestA_CorrectCredentials_LoggedIn2"/>
                    <include name="loginTestA_WrongCredentials_ErrorFrameDisplayed2"/>
                </methods>
            </class>
            <class name="pageObjectTests.PlaylistTests">
                <methods>
                    <include name="playlistTest_CreatePlaylist_PlaylistCreated"/>
                    <include name="playlistTest_RenamePlaylist_PlaylistRenamed"/>
                    <include name="playlistTest_CreatePlaylist_PlaylistCreated1"/>
                    <include name="playlistTest_RenamePlaylist_PlaylistRenamed1"/>
                    <include name="playlistTest_CreatePlaylist_PlaylistCreated2"/>
                    <include name="playlistTest_RenamePlaylist_PlaylistRenamed2"/>
                </methods>
            </class>
            <class name="pageObjectTests.PlaylistTestsA">
                <methods>
                    <include name="playlistTestA_CreatePlaylist_PlaylistCreated"/>
                    <include name="playlistTestA_RenamePlaylist_PlaylistRenamed"/>
                    <include name="playlistTestA_CreatePlaylist_PlaylistCreated1"/>
                    <include name="playlistTestA_RenamePlaylist_PlaylistRenamed1"/>
                    <include name="playlistTestA_CreatePlaylist_PlaylistCreated2"/>
                    <include name="playlistTestA_RenamePlaylist_PlaylistRenamed2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>